<div class="registration-container">
  <h1>Register</h1>

  <form class="registration-form">
    <label>
      Username
      <input type="text" placeholder="FCK lil bro" disabled />
    </label>

    <label>
      Password
      <input type="password" placeholder="********" disabled />
    </label>

    <button type="submit" disabled>Register</button>
  </form>

  <div class="denial-message">
    <h2>Nice try, but <span class="highlight">no</span>.</h2>
    <p>You are not allowed.</p>
    <p class="emphasis-message">We only allow admin to have accounts, and <span class=highlight>you ain't that</span> kiddo</p>
  </div>
</div>
