<div class="container text-center my-5">
  <img
    src="../../assets/main_logo.jpg"
    id="main-logo"
    class="img-fluid mb-4 mx-auto d-block"
  >

  <h1 class="mb-4">Haki Stat Coming Soon!</h1>

  <p>Break in case of crashout!:</p>

  
  <div style="position: relative; width: 480px; height: 480px;"class="mx-auto">
    <a href="https://youtu.be/NhHb9usKy6Q?si=PDJdfJ0KU7oyyCM5" target="_blank" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10;"></a>
    <iframe src="https://giphy.com/embed/IglQkzvuewsoD6E1Pj" width="480" height="480" style="" frameBorder="0"></iframe>
  </div>

</div>
