<div class="container text-center my-5">
  <img
    src="../../assets/main_logo.jpg"
    id="main-logo"
    class="img-fluid mb-4 mx-auto d-block"
  >

  <h1 class="mb-4">Haki Stat Coming Soon!</h1>

  <p>Touch Lebron Gif in case of crashout!</p>

  <div id="crashout_emergency" class="mx-auto">
    <a href="https://youtu.be/NhHb9usKy6Q?si=PDJdfJ0KU7oyyCM5" target="_blank"></a>
    <iframe src="https://giphy.com/embed/IglQkzvuewsoD6E1Pj" width="480" height="480" frameBorder="0"></iframe>
  </div>

</div>
