<!DOCTYPE html>
<html>
<head>
  <title>Coming Soon</title>
</head>
<body>
  <div>
    <img src="../../assets/main_logo.jpg" alt="Coming Soon Image" >
    <h1>Hakistat coming soon!</h1>
     <iframe width="560" height="315"
     src="https://www.youtube.com/embed/gq2U84Wt9co?si=VqquGAoN6mrMqPeI"
     title="YouTube video player"
     frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
     referrerpolicy="strict-origin-when-cross-origin"
     allowfullscreen></iframe>
  </div>
</body>
</html>
